<p id="notice"><%= notice %></p>

<h1>Organization Structures</h1>

<div class="tree">
    <% @structures.each do |structure| %>

        <%= structure.id %>
        <%= structure.name %>
        <%= structure.type %>
        <%= structure.ancestry %>
        <%= structure.category %>
        <%= structure.active %>
        <%= structure.structure_id %>
        <% if structure.structure_id == nil %>
        <%= link_to 'Add a branch', new_structure_path(:parent_id => structure) %>
         <% else %>
        <%= "" %>
        <% end %>
        <%= link_to 'Show', structure %>
        <%= link_to 'Edit', edit_structure_path(structure) %>
        <%= link_to 'Destroy', structure, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>
</div>

<% @structures.each do |structure| %>

    <%= structure.children %>

<% end %>
