<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @structure.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @structure.alias %>
</p>

<p>
  <strong>Type:</strong>
  <%= @structure.type %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @structure.ancestry %>
</p>

<p>
  <strong>Category:</strong>
  <%= @structure.category %>
</p>

<p>
  <strong>Active:</strong>
  <%= @structure.active %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @structure.structure_id %>
</p>

<%= link_to 'Edit', edit_structure_path(@structure), :class => 'btn btn-warning' %>
<%= link_to 'Back', structures_path, :class => 'btn btn-danger' %>
<% if @structure.category == "Department" %>
  <%= link_to 'Overall Department Expenses ', structures_path, :class => 'btn btn-success' %>
<% end %>
